<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Manager</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="center-container">
      <h1>Task Manager</h1>
      <div class="button-container">
        <!-- Create Task Button -->
        <form action="/form/create" method="get">
          <button type="submit" class="create">Create Task</button>
        </form>

        <!-- Show Task Button -->
        <form action="/form/get" method="get">
          <button type="submit" class="show">Show Task</button>
        </form>
      </div>
    </div>
  </body>
</html>
